.navbar-container{
    padding: 8px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index:999;
}

.navbar-container #nav-title p{
    font-size: 1.5em;
    color: rgb(17, 108, 145);
}

.navbar-container #nav-items{
    /* width: 50%; */
}
.navbar-container #nav-items ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar-container #nav-items ul li{
    font-size: 1.4em;
    text-decoration: none;
    list-style: none;
    padding: 5px;
    font-weight: 550;
    width: 6.75em;
}
.navbar-container #nav-items ul li img{
    width: 40px;
    height: 40px;
    margin-right: 7px;
}
.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(17, 108, 145);
}
.nav-link img{
    width: 2.5em;
    height: 2.5em;
}
.nav-link p{
    font-weight: 600;
    margin-left: .3em;
}
.nav-link:hover{
    cursor: pointer;
    color: #284c54;
}

.theme {
  margin: 0em 0.2em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  cursor: pointer;
}

body.dark-theme .navbar-container{
    background-color: rgb(26, 24, 24);
    color: white;
}